# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# macOS
.DS_Store/

# Editor / IDE
.vscode/
.idea/

# Build / install artifacts
*.egg-info/
dist/
build/
.eggs/
*.egg

# pytest
.pytest_cache/
